<div class="container">
    <h1>BMI Calculator</h1>

    <p>Height (in cm)</p>
    <input type="text" id="height" />

    <p>Weight (in kg)</p>
    <input type="text" id="weight" />

    <button id="calculate" {{action "calculateMyBMI"}}>Calculate</button>

    <div id="your_result"></div>

</div>