<center>
    <div class="container">
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <p>
                Drag and drop one or more file here...
            </p>
        </div>
    </div>
</center>